profiles {
  conda {
    conda.enabled = true
    timeline.enabled = true
    report.enabled = true
    trace.enabled = true
    dag.enabled = true
  }
  test {
    timeline.enabled = false
    report.enabled = false
    trace.enabled = false
    dag.enabled = false
  }
}

// Export this variable to prevent local Python libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

VERSION = '0.0.1'
//ENSEMBL_VERSION = '110'


manifest {
  name = 'TRON-Bioinformatics/easy-fuse-workflow'
  author = 'Patrick Sorn, Christoph Fritzsch, Maria, Federico'
  homePage = ''
  description = 'Annotation-free kmer workflow'
  mainScript = 'main.nf'
  nextflowVersion = '23.10.1'
  version = VERSION
}


params.help = false
params.step_size = 1
params.kmer_size = 31
params.input_table = false
params.outdir = false
params.ref_genome = false
params.ref_gtf = false
params.genomic_kmers = false
params.exon_coord = false
//params.ref_data = "${baseDir}/ref_data"
//params.ref_genome = "${params.ref_data}/Homo_sapiens.GRCh38.dna.chromosome.1.fa"
//params.ref_gtf = "${params.ref_data}/Homo_sapiens.GRCh38.109.gtf"
//params.genomic_kmers = "${params.ref_data}/genomic_kmers.fa"
//params.exon_coord = "${params.ref_data}/exon_coordinates.csv"

params.help_message = """
Annotation-free kmer workflow v${VERSION}

Usage:
    nextflow run main.nf -profile conda --mode build_references|quantify_kmers [ -k kmer_size -s step_size --input_table input_table ] --outdir output_folder

Input:
    * input_table: the path to a comma-separated values file containing in each row the sample name, FASTQ file.
      The input file does not have header!
      Example input file:
      name1	fastq
      name2	fastq

    * kmer_size: size of kmers to be created from genome and fastq

    * step_size: size of steps during kmer generation
      kmers overlap by kmer_size - step_size bases

    * outdir: path to an output folder
    """
